#home {
    background-color: $dark-background;

    @include media-breakpoint-up(lg) {
        position: relative;
        overflow: hidden;
        min-height: 75vh;

        #hero-img {
            max-width: 700px;
            position: absolute;
            bottom: 0;
        
            @include media-breakpoint-only(xl) {
                right: 0;
            }

            @include media-breakpoint-only(lg) {
                right: -130px;
            }

            @media (max-height: 990px) and (max-width: 1049px) and (min-width: 992px) {
                max-width: 600px;
            }
        }
    }
}

#hero-head-text {
    @include hero-text-style($font-primary, "heading", 700);
}

#hero-text {
    @include hero-text-style($font-secondary, "text", 400);
}