#home {
    background-color: $dark-background;

    @include media-breakpoint-up(lg) {
        position: relative;
        overflow: hidden;
        min-height: 75vh;

        #hero-img {
            max-height: 100%;
            position: absolute;
            bottom: 0;
        }
    }
}

#hero-head-text {
    @include hero-text-style($font-primary, "heading", 700);
}

#hero-text {
    @include hero-text-style($font-secondary, "text", 400);
}