h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
}

#navbar {
    background-color: $dark-background;
}

#logo-img {
    max-width: 220px;
}

.nav-link {
    font-family: $font-secondary;
    color: $navbar-text-color;

    &:hover {
        color: $accent-color;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-custom {
    //Custom style for buttons
    background-color: $accent-color;
    font-family: $font-secondary;
    color: $button-text-color;
    @media (min-width: 992px) {
        width: auto !important; //Override w-100 bootstrap class
    }
}

#home {
    background-color: $dark-background;
}

#hero-head-text {
    font-family: $font-primary;
    color: $hero-heading-color;
}

.accent-text {
    color: $accent-color;
}

#hero-text {
    font-family: $font-secondary;
    color: $hero-text-color;
}

#hero-img {
    width: 700px;
}

#transform {
    background-color: $light-background-1;
}

.section-title {
    font-family: $font-primary;
    font-weight: 600;
    color: $section-title-color;
}

.section-phrase {
    font-family: $section-phrase-font;
    font-weight: 700;
    color: $section-phrase-color;
}

.section-text {
    font-family: $section-text-font;
    color: $section-text-color;
    line-height: normal; // FIXME: Check line height was lh-base on bootstrap
}

#facts {
    background-color: $facts-background;
    font-family: $font-secondary;
}

.service-card {
    border-radius: 1rem;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 0.7rem;
}

.inner-service-card {
    padding: 1.2rem;
    padding-top: 4.5rem;
    background-color: $card-color;
    border-radius: 0.8rem;
}

.service-pricing {
    font-family: $card-pricing-font;
    color: $card-pricing-text-color;
    position: absolute;
    top: 25;
    right: 11;
    background-color: $card-service-pricing-color;
    border-radius: 99rem 0 0 99rem;
    display: flex;
    align-items: center;
    padding: 0.625rem 0.75rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.service-pricing .small {
    font-family: $card-pricing-small-font;
    color: $card-pricing-small-color;
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

.card-title {
    font-family: $card-title-font;
    color: $card-title-color;
}

.card-subtitle {
    font-family: $card-subtitle-font;
    color: $card-subtitle-color;
}

.card-features {
    font-family: $card-features-font;
    color: $card-features-color;
}

i {
    color: $accent-color;
}

.testimonial-carousel {
    border-radius: 1rem;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 0.7rem;
}

.inner-testimonial-carousel {
    padding: 1.2rem;
    background-color: $testimonial-carousel-color;
    border-radius: 0.8rem;
}

.testimonial-text {
    line-height: 1.6;
    color: $testimonial-text;
}

.testimonial-footer {
    strong {
        color: $testimonial-name;
        font-weight: 600;
        font-size: 1.25rem;
    }

    small {
        display: block;
        font-size: 0.9rem;
        color: $testimonial-position;
        font-style: italic;
    }
}

#carouselTestimonial .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $carousel-dot-inactive-color;
}

#carouselTestimonial .carousel-indicators .active {
    background-color: $carousel-dot-active-color;
}

#carouselTestimonial .carousel-control-prev,
#carouselTestimonial .carousel-control-next {
    width: 40px;
    height: 40px;
    margin: auto 30px;
    background-color: $carousel-arrow-bg-inactive-color;
    border-radius: 50%;
}

#carouselTestimonial .carousel-control-prev-icon,
#carouselTestimonial .carousel-control-next-icon {
    background-image: none;
}

#carouselTestimonial .carousel-control-prev-icon:before {
    content: "\f104";
    font-family: "FontAwesome";
    color: $carousel-arrow-inactive-color;
    font-size: 20px;
}

#carouselTestimonial .carousel-control-next-icon:before {
    content: "\f105";
    font-family: "FontAwesome";
    color: $carousel-arrow-inactive-color;
    font-size: 20px;
}

#carouselTestimonial .carousel-control-prev:hover,
#carouselTestimonial .carousel-control-next:hover,
#carouselTestimonial .carousel-control-prev:focus,
#carouselTestimonial .carousel-control-next:focus {
    background-color: $carousel-arrow-active-color;
    outline: none;
}

// .fees-card {
//     border-radius: 1rem;
//     box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
//     padding: 0.7rem;
// }

// #fees .card-header {
//     background-color: $light-accent-color;
//     border-color: 1px solid black;
// }

// #cta {
//     background-color: $light-bg-alt-2;
// }

.contact-card {
    border-radius: 1rem;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 0.7rem;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.inner-contact-card {
    // align-items: center;
    padding: 1.2rem;
    background-color: $card-color;
    border-radius: 0.8rem;
}

#footer {
    background-color: $dark-background;
    color: #fff;

    img {
        max-width: 200px;
    }

    a {
        text-decoration: none;
    }
}
