h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
}

#navbar {
    background-color: $dark-bg;
}

#logo-img {
    max-width: 220px;
}

.nav-link {
    color: $navbar-text-color;

    &:hover {
        color: $accent-color;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-custom {
    //Custom style for buttons
    background-color: $accent-color;
    color: $button-text;
    @media (min-width: 992px) {
        width: auto !important; //Override w-100 bootstrap class
    }
}

#home {
    background-color: $dark-bg;
}

#hero-head-text {
    color: $heading-text-light-color;
}

.accent-text {
    color: $accent-color;
}

#hero-text {
    color: $text-light-color;
}

#hero-img {
    width: 700px;
}

#transform {
    background-color: $light-bg-alt-1;
}

.section-title {
    //Style for all section titles
    color: #555;
}

.section-phrase .accent-text {
    //Style for all accent text in section phrases
    font-weight: 900;
}

#facts {
    background-color: $light-bg-alt-2;
}

.service-card {
    border-radius: 1rem;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 0.7rem;
}

.inner-service-card {
    // align-items: center;
    padding: 1.2rem;
    padding-top: 4.5rem;
    background-color: $light-accent-color;
    border-radius: 0.8rem;
}

.service-pricing {
    position: absolute;
    top: 25;
    right: 11;
    background-color: $half-light-accent-color;
    border-radius: 99rem 0 0 99rem;
    display: flex;
    align-items: center;
    padding: 0.625rem 0.75rem;
    font-size: 1.25rem;
    font-weight: 600;
    // color
}

.service-pricing .small {
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

i {
    color: $accent-color;
}

// #testimonials {
//     background-color: $light-bg-alt-2;
// }

.testimonial-carousel {
    border-radius: 1rem;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 0.7rem;
}

.inner-testimonial-carousel {
    // align-items: center;
    padding: 1.2rem;
    background-color: $light-accent-color;
    border-radius: 0.8rem;
}

.testimonial-text {
    line-height: 1.6;
    color: $text-subtext;
}

.testimonial-footer {
    strong {
        font-weight: 600;
        font-size: 1.25rem;
    }

    small {
        display: block;
        font-size: 0.9rem;
        color: $text-footer;
        font-style: italic;
    }
}

#carouselTestimonial .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $accent-color;
}

#carouselTestimonial .carousel-indicators .active {
    background-color: $dark-accent-color;
}

#carouselTestimonial .carousel-control-prev,
#carouselTestimonial .carousel-control-next {
    width: 40px;
    height: 40px;
    margin: auto 30px;
    background-color: $accent-color;
    border-radius: 50%;
}

#carouselTestimonial .carousel-control-prev-icon,
#carouselTestimonial .carousel-control-next-icon {
    background-image: none;
}

#carouselTestimonial .carousel-control-prev-icon:before {
    content: "\f104";
    font-family: "FontAwesome";
    color: $button-text;
    font-size: 20px;
}

#carouselTestimonial .carousel-control-next-icon:before {
    content: "\f105";
    font-family: "FontAwesome";
    color: $button-text;
    font-size: 20px;
}

#carouselTestimonial .carousel-control-prev:hover,
#carouselTestimonial .carousel-control-next:hover,
#carouselTestimonial .carousel-control-prev:focus,
#carouselTestimonial .carousel-control-next:focus {
    background-color: $dark-accent-color;
    outline: none;
}

.fees-card {
    border-radius: 1rem;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 0.7rem;
}

#fees .card-header {
    background-color: $light-accent-color;
    border-color: 1px solid black;
}

#cta {
    background-color: $light-bg-alt-2;
}

.contact-card {
    border-radius: 1rem;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 0.7rem;
    max-width: 300px; // Adjust this value to your preference
    margin-left: auto;
    margin-right: auto;
}

.inner-contact-card {
    // align-items: center;
    padding: 1.2rem;
    background-color: $light-accent-color;
    border-radius: 0.8rem;
}

#footer {
    background-color: $dark-bg;
    color: #fff;

    img {
        max-width: 200px;
    }

    a {
        text-decoration: none;
    }
}