$dark-bg: #121212; // Dark background
$navbar-text-color: #ffffff; // Heading text color for dark backgrounds
$button-text: #ffffff; // Color text for buttons
$accent-color: #c62828; // Accent/brand color
$dark-accent-color: #800020; // Darker accent color
$heading-text-light-color: #ffffff; // Text light color for heading text in dark background
$text-light-color: #d1d1d1; //Text light color for text in dark background
$light-bg-alt-1: #ffffff; //Light background color alternative 1
$light-bg-alt-2: lighten($accent-color, 50%);; //Light background color alternative 2
$light-accent-color: lighten($accent-color, 50%); // Light background for cards
$half-light-accent-color: lighten($accent-color, 25%);
$text-subtext: #555;
$text-footer: #777;